@font-face {
    font-family: SpaceMono;
    src: url("./SpaceMono.ttf");
    font-display: swap;
}

* {
    box-sizing: border-box;
}

:root {
    line-height: 1.5;
    font-size: 16px;
    font-family: SpaceMono, monospace;
    font-variant-ligatures: no-common-ligatures;

    --text: #fafafa;
    --subtext: #a1a1aa;
    --background: #130c13;
    --primary: #b94680;
    --secondary: #060306;
    --accent: #ed6eed;
}

body {
    margin: 2em auto;
    max-width: 600px;
    padding: 1em;
    margin-bottom: 6em;

    display: flex;
    flex-direction: column;

    text-align: justify;
    font-kerning: normal;

    background-color: var(--background);
    color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    align-self: first baseline;
    line-height: 1.2;
    background: linear-gradient(30deg, var(--primary), var(--accent));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.year {
    margin-top: 2em;
}

.first-year {
    margin-top: 1em;
}

.top {
    text-align: center;
}

p {
    margin-top: 4px;
    margin-bottom: 4px;
}

a {
    color: var(--text);
}

ul,
li {
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: left;
}

strong {
    font-weight: bold;
    text-shadow: 1px 0px 0px var(--text);
    letter-spacing: 0.5px;
}

ul > li {
    list-style-type: square;
}

code {
    background-color: var(--secondary);
    border-radius: 2px;
    padding: 2px 4px;
    white-space: pre;
    font-family: SpaceMono, monospace;
}

i {
    padding-right: 1px;
    color: var(--subtext);
}

i > strong,
strong > i {
    color: var(--text);
}

.list-item {
    text-align: left;
    text-decoration: none;
    margin: 0.5em;
    width: 100%;
    transition: scale 0.15s ease-in-out;
}

.divider {
    margin-left: 0.3em;
    margin-right: 0.3em;
    display: inline-block;
}

.list-item > div > div > h4,
.list-item > div > div > p {
    display: inline-block;
}

.list-item:hover {
    scale: 1.04;
}

.updated,
.tags {
    font-size: 0.9em;
}

.metadata {
    text-align: left;
}

@media (max-width: 640px) {
    .metadata .divider {
        display: block;
        visibility: hidden;
        height: 0;
    }
}

.back {
    font-size: 3em;
    color: var(--primary);
    position: absolute;
    text-decoration: none;
    transition: scale 0.15s ease-in-out;
}

.back:hover {
    scale: 1.08;
}

.content {
    margin-top: 1em;
}

.linebreak {
    height: 0.2em;
}

blockquote {
    border-left: 3px solid var(--primary);
    padding-left: 1em;
    margin-left: 1em;
}

.inline-code {
    background-color: var(--secondary);
    border-radius: 2px;
    padding: 2px 4px;
    white-space: pre;
    font-family: SpaceMono, monospace;
}

.code-block {
    display: block;
    border-radius: 4px;
    padding: 4px 8px;
    white-space: pre;
    font-family: SpaceMono, monospace;
}

img {
    max-width: 100%;
}

.comments-title {
    margin-top: 2rem;
}

.comments {
    border: none;
}
